.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('landing-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
}

.h2_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5rem;
}

.h2_div img{
    width: 25rem;
    margin: 3rem 3rem;
}

.h2-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem;
    width: 40rem;
}

.h3_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 3rem;
}

.h3_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}
.h3_card{
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem;
}
.h3_card img{
    margin-right:2rem ;
}

.h4_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 3rem 5rem 3rem;
    width: 80%;
}

/* glimpse css */
.h4-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.2rem; 
  }
.h4-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
/* glimpse */