.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* below landing screen css */

.h2-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  z-index: 10;
  width: 70%;
}

.h2-div img {
  width: 100%;
}

.h2-left {
  margin: 3rem 3rem 0 0;
  width: 50rem;
}

.h2-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.h3-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  z-index: 10;
  width: 80%;
}

.h3-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 1rem;
  width: 100%;
  margin: 2rem 0;
}
.h3-cards h3{
  margin:0;
  font-weight: 600;
  font-size: 1rem;
}
.h3-card {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.h3-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.h3-card img {
  margin-right: 2rem;
}

@media screen and (max-width: 1080px){
  .h3-div{
    width: 100%;
    margin-top: 2rem;
  }
  .h3-cards {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  .h3-card{
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
  .h3-card img{
    max-width: 35%;
    margin-right: 0.5rem;
  }
}


.h4-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto ;
  width: 80vw;
  z-index: 10;
}


/* glimpse css
.h4-images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1rem;
}

.h4-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
} */

/* caurasel */

.c-div{
  width: 100%;
  overflow: hidden;
}

.slider{
  height: 300px;
  margin: auto;
  position: relative;
  width: 80%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track{
  display: flex;
  width: calc(300px * 6);
  animation: scroll 30s linear infinite;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 3));
  }

}

.slide{
  height: 250px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: ease-in-out 0.3s;
}

.slider-track:hover{
  animation-play-state: paused;
}

.slide:hover{
  transform: scale(1.05);
}

.slide > img{
  width: 100%;
  height: 70%;
  border-radius: 5px  ;
}


@media screen and (max-width: 868px) {
  .h2-div {
    flex-wrap: wrap;
    width: 90%;
    margin: 0;
  }

  .h2-div {
    width: 80%;
    margin: 0 auto;
  }

  .h2-left {
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    width: 80%;
  }

  .h2-right {
    align-items: center;
  }

  .h4-div {
    margin: 0 auto 3rem auto;
  }

  .h4-images {
    gap: 0.2rem;
  }

}
