.landing-info {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-image: url('https://tympanus.net/Development/ImageExpansionTypography/img/noise.png');
    
}
.landing-info h1{
    text-align: center;
}
.landing-info .landing-logo {
    & img {
        width: 70%;
        height: auto;
    }
}

.landing-info .landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-size: 3vw !important;
    user-select: none;
    color: whitesmoke;
    margin: 2rem 4rem;
    font-size: 2.26rem;
    text-transform: uppercase;
}
:root {
    --color-bg1: rgb(18, 7, 142);
    --color-bg2: #0f323f;
    --color1: 85, 125, 121;
    --color2: 19, 94, 103;
    --color4: 119, 176, 170;
    --color-interactive: 140, 100, 255;
    --circle-size: 50%;
    --blending: hard-light;
}

@media screen and (max-width: 1040px) {
    .landing-info .landing-logo {
        display: none;
    }
}
@media screen and (max-width: 440px) {
    .landing-info .landing-text{
        margin: 0;
    }
}


@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.graph-grid{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('/graph-grid/graph-grid.png');
    opacity: 0.1;
   
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg,  #0f323f 18%, #135168 100%);

    top: 0;
    left: 0;

    svg {
        display: none;
    }


    .gradients-container {
        filter: url(#goo) blur(40px);
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: center center;
        animation: moveVertical 30s ease infinite;

        opacity: 1;
    }

    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;
        opacity: 1;
    }


    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 1);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;
        opacity: 0.7;
    }



}

.box {
    width: 60vmin;
    height: 50vmin;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
    
    --border-angle: 0turn; /* For animation. */
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    
    background: 
      var(--main-bg) padding-box, /* Padding-box clips this background into the overall element except the border. */
      var(--gradient-border) border-box, /* Border-box extends this background to the border space. */
      var(--main-bg) border-box; /* Duplicate main background to fill in behind the gradient border. */
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  .box:hover {
    animation-play-state: paused;
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
