
.about p{
    color: #000 ;
}
.about-content p{
    color: #fff;
}
.founders-content::-webkit-scrollbar {
    background: transparent;
    height: 6px;
    width: 6px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.founders-content::-webkit-scrollbar-thumb {
    background: rgb(24, 32, 48);
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.founders-content::-webkit-scrollbar-track
{
	background-color: rgba(24, 32, 48, 0.442);
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.testimonials::-webkit-scrollbar {
    background: transparent;
    height: 6px;
    width: 6px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.testimonials::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.testimonials::-webkit-scrollbar-track
{
	background-color: rgba(24, 32, 48, 0.442);
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.sadf{
    color: #2c2f4e
}