.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-container{
    margin: auto;
    
}

.contact-container  li{
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    width: 200px;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 10px;
    &:hover{
        background-color: rgba(27, 15, 255, 0.833);
        cursor: pointer;
        text-decoration: underline;
    }
}

.contact-container img{
    width: 20px;
    margin-left: 10px;
}