.events {
    width: 85%;
    height: 100%;
    margin: 1rem auto;
    padding-top: 5rem;
}

.event-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.upcoming-evnets, .past-events {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

}
.past-events-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.event-card {
    padding: 1rem;
    width: 400px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    }
}

.event-card > p{
    color: black
}
.event-card > *{
    margin: 0.4rem 0;
}




/* event css */

.event-div {
    margin: 1rem 0 3rem 0;
    width: 80%;
}

.gallery {
    margin: 1rem;
}

.event-slider {
    width: 60%;
    /* sets the width of  */
    height: 400px;
    /* this to change height of img  */
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 100%;

}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #acacac;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    object-fit: contain;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 868px) {
    .event-box-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .event-box {
        width: 80%;
    }

    .event-div {
        width: 80%;
    }

    .slider {
        width: 100%;
        height: 40vh;
    }

    .gallery {
        margin: 1rem 0 1rem 0;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        width: 100%;
        height: 30vh;
    }
}