.events {
    width: 85%;
    height: 100%;
    margin: 1rem auto;
    padding-top: 5rem;
}

.event-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.upcoming-events, .past-events {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

}

.past-events-cont, .upcoming-events-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}
.event-card {
    padding: 1rem;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        box-shadow: #00000040 0px 25px 50px -12px;
    }
}

.event-card > p{
    color: black;
    text-align: justify;
}
.event-card > *{
    margin: 0.4rem 0;
}
.past-events > p{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.events-btn{
    margin: 0 1rem 1rem 0;
    width: 100px;
    height: 35px;
    font-style: bold;
    font-size: 1.2rem;
    border: none;
    background-color: #0f323f;
    color: white;
    &:hover{
        background-color: whitesmoke;
        color: #0f323f;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    }
}

.events-btn.active{
    background-color: whitesmoke;
    color: #0f323f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 868px) {
    .events {
        width: 90%;
    }

    .event-box {
        gap: 2rem;
    }

    .event-card {
        max-width: 350px;
    }
    
}

@media screen and (max-width: 800px){
    .upcoming-events-cont, .past-events-cont{
        justify-content: center;
    }
}

@media screen and (max-width: 400px){
    .events-btn{
        width: 90px;
        height: 30px;
        margin: 0 0.5rem 1rem 0;
    }
}




/* event css */

.event-div {
    margin: auto;
    width: 90%;
}

.gallery {
    margin: 1rem;
}

.event-div > p{
    color: black;
}

.event-div > h3{
    color: black;
}
.event-slider {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 100%;

}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #0f323f;
    background: linear-gradient(124deg, rgba(15,50,63,1) 5%, rgba(21,94,121,1) 50%);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    object-fit: contain;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bold{
    font-weight: 600;
}

@media screen and (max-width: 868px) {
    .event-box-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider {
        width: 100%;
        height: 40vh;
    }

    .gallery {
        margin: 1rem 0 1rem 0;
    }
    .event-slider{
        width: 90%;
        height: 40vh;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        width: 100%;
        height: 30vh;
    }
    
}
@media screen and (max-width: 420px) {
    .event-slider{
        width: 100%;
        height: 30vh;
    }
}