.event-box{
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.event-box-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.know-more-btn{
    border-radius:5px;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border: none;
    cursor: pointer;
    background:linear-gradient(to right, #e9b857, #e9dc4e);
}
.bold{
    font-weight: bold;
}
/* event box border animation */
.event-box{
    --outline: 2px solid #333;
    color: #333;
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -2px;
    transition: outline-offset 200ms ease;
  }
.event-box:hover,
.event-box:focus {
    outline: var(--outline);
    outline-offset: -6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
/* events css */
.E1{
    margin:1rem 3rem;
}
.gallery{
    margin: 1rem;
}
.slider {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin:0 auto;
  } 
.slides {
    display: flex;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 400px;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #acacac;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slides img{
    object-fit: contain;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  