.footer-div{
    background-color: #0f323f;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://tympanus.net/Development/ImageExpansionTypography/img/noise.png');
}
.profiles > a > img{
    width: 30px;
    margin:0 5px;
}