.navbar{
    width: 100%;
    height: 4rem;
    z-index: 100;
    background-color: #12162e;
    position: fixed;
}
.nav-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
    height: 100%;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu > li{
    margin: 0 2rem;
}

.nav-menu p{
    color: white;
}

.contact-btn{
    border-radius:5px;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #12162e;
    color: white;
    border: none;
    cursor: pointer;
    background: radial-gradient(100% 100% at 100% 0, #4c63e5 0, #1f2fa9 100%);
}

.navbar_logo{
    width: 150px;
}

.navbar_logo img{
    width: 4rem;
}

.header-bars{
    display: none;
}


@media screen and (max-width: 1040px){
    .header-bars{
        display: flex;
        width: 35px;
    }
    .navbar{
        padding: 0 1.5rem;

    }
    .nav-div{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 4rem;
        right: -100%;
        width: 40%;
        height: 100vh;
        background: rgb(67, 67, 82);
        transition: all 1s;
        z-index: 10;
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        display: none;
    }

    .contact{
        display: none;
    }
    .nav-menu li{
        padding: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .nav-menu .nav-item:active{
        background-color: var(--secondary);
        opacity: 0.2;
    }

    .nav-menu.active{
        right: 0;
        display: block;
    }


}