.navbar {
    /*
background-color: #000000;
*/
    width: 100%;
    z-index: 102;
    height: 4rem;
    position: fixed;

    --size: 4px;
    --m: 0.4 --p: calc(var(--m) * var(--size));
    --R: calc(var(--size) * sqrt(var(--m) * var(--m) + 1));

mask:
  radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #000 99%, #0000 101%)
    calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
  radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, #000 101%)
    50% calc(100% - var(--size)) / calc(4 * var(--size)) 100% repeat-x;
background: linear-gradient(90deg, red, blue);

}
.navbar .nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    height: 100%;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}           

.nav-menu > li{
    margin: 0 1.6rem;
}


.nav-menu p{
    color: white;
    &:hover{
        color: rgba(201, 174, 174, 0.833);
        cursor: pointer;
    }
}

.contact-btn{
    border-radius:5px;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #12162e;
    color: white;
    border: none;
    cursor: pointer;
    background: radial-gradient(100% 100% at 100% 0, #0d1026 0, #030d56 100%);
}



.header-bars{
    display: none;
}


@media screen and (max-width: 1040px){
    .header-bars{
        display: flex;
        width: 35px;
    }
    .navbar{
        padding: 0 1.5rem;
    }
    .navbar .nav-div{
        margin: 0;
    }
    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 4rem;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: rgb(67, 67, 82);
        transition: all 0.5s;
        z-index: 10;
        border-left: 1px solid rgba(0, 0, 0, 0.5);
    }

    .nav-div ul{
        list-style: none;
    }
    .nav-menu li{
        padding: 1.2rem 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .nav-menu.active{
        right: 0;
        display: block;
    }


}