.bg {
  background-color: black;
  /* background-image: url("../../../public/textures/zig-zag.png"); */
  background-image: url("../../../public/textures/bg-star.png");
  opacity: 0.96;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
