.bg {
  background-color: #0a0a0a;
  background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
  opacity: 0.95;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
