.team{
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
.team p{
    color: #000;
}
.faculty-div{
    margin:1rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    width: 80%;
}
.faculty-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;
}
.faculty-member h3{
    color: black;
}
.faculty-member img{
    width: 12rem;
    border-radius: 50%;
    margin: 1rem 0.5rem;
}

.faculty-member p{
    color: black;
}
.team-member p{
    color: black;
}

@media screen and (max-width: 1000px){
    .faculty-member:nth-child(1){
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    .faculty-member img{
        width: 8rem;
    }
    .faculty-member{
        margin: 0.5rem;
    }
}

.team-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    width: 75%;
    margin: 1rem;
}
.team-member img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 20%;
    margin: 1rem;
}
.post-p{
    text-align: left;
    box-shadow: inset 0 0 0 0 rgba(21,94,121,0.8);
    width: max-content;
    padding: 0 2px;
    /* transition: color .5s ease-in-out, box-shadow .5s ease-in-out; */
}
.member-name{
    /* text-align: right;   */
    box-shadow: inset 0 0 0 0 rgba(21,94,121,0.8);
    padding: 0 2px;
    margin-left: auto;
    width: max-content;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.team-member{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    padding: 0.5rem;
    width: 14rem;
    height: 14rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='black' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 1rem;
}
.team-member img{
    margin: 0 auto;
}
.team-member:hover .member-name {
    color: #fff;
    box-shadow: inset -150px 0 0 0 rgba(21,94,121,0.8);
}
@media screen and (max-width: 500px){
    .team-div{
        width: 100%;
    }
    .team-member img{
        width: 5rem;
        height: 5rem;
    }
    .team-member{
        margin: 0.5rem;
    }
}